@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

header {
  min-height: 100vh;
  background: url(../../assets/img/bg-slider-06.jpg) center/cover;
}
header nav {
  color: rgb(247, 247, 247);
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 70px;
  font-family: roboto, sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav ul li {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header nav ul li:hover:not(:first-child):not(:last-child) {
  color: rgb(181, 117, 53);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
header nav ul li:first-child {
  text-transform: capitalize;
  font-family: allura, serif;
  font-size: 2rem;
  margin: 0 60px;
  font-weight: 900;
}
header nav ul li:last-child {
  margin: 0 30px;
}
header nav ul li:last-child i {
  margin: 0 10px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
header nav ul li:last-child i:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
header .header-container h1 {
  text-align: center;
  width: 50%;
  margin: 110px auto 0;
  line-height: 37px;
}
header .header-container h1 span:first-child {
  font-family: allura, serif;
  color: rgb(181, 117, 53);
  font-size: 3rem;
  font-weight: 100;
  display: block;
}
header .header-container h1 span:last-child {
  font-family: poppins, sans-serif;
  color: rgb(247, 247, 247);
  text-transform: uppercase;
  font-size: 2.8rem;
  letter-spacing: 10px;
  display: block;
}
header .header-container .logo1 {
  background: url(/assets/img/ic-plate-big.png) center/cover;
  width: 30px;
  height: 30px;
  margin: 50px auto 30px;
}
header p {
  color: rgb(247, 247, 247);
  text-transform: uppercase;
  text-align: center;
  font-family: roboto, sans-serif;
  letter-spacing: 5px;
  font-size: 0.8rem;
}

.section1-container {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 45vh;
}
.section1-container .left-part-container {
  background: rgb(247, 247, 247);
  padding: 10px;
}
.section1-container .left-part-container .left-part {
  background: rgb(247, 247, 247);
  border: dashed rgb(181, 117, 53);
  height: 100%;
  padding: 40px 8px;
}
.section1-container .left-part-container .left-part h3 {
  text-align: center;
  line-height: 17px;
  margin: 13px auto 0;
}
.section1-container .left-part-container .left-part h3 span:first-child {
  font-family: allura, serif;
  color: rgb(181, 117, 53);
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 100;
  display: block;
}
.section1-container .left-part-container .left-part h3 span:last-child {
  font-family: poppins, sans-serif;
  color: rgb(247, 247, 247);
  text-transform: uppercase;
  color: rgb(5, 5, 5);
  font-size: 1rem;
  display: block;
}
.section1-container .left-part-container .left-part .logo2 {
  background: url(/assets/img/ic-plate.png) center/cover;
  height: 20px;
  width: 20px;
  margin: 20px auto;
}
.section1-container .left-part-container .left-part p {
  font-family: roboto, sans-serif;
  text-align: center;
  font-size: 0.9rem;
  color: rgba(65, 64, 64, 0.86);
}
.section1-container .left-part-container .left-part .head1 {
  background: url(/assets/img/avatar-01.jpg) center/cover;
  height: 60px;
  width: 60px;
  margin: 20px auto;
  border-radius: 50px;
}
.section1-container .left-part-container .left-part h4 {
  text-align: center;
  text-transform: capitalize;
  font-family: poppins, sans-serif;
  font-size: 0.8rem;
}
.section1-container .left-part-container .left-part h5 {
  text-align: center;
  text-transform: uppercase;
  font-family: poppins, sans-serif;
  font-size: 0.6rem;
  color: rgba(71, 71, 71, 0.388);
}
.section1-container .right-part {
  background: url(/assets/img/store-01.jpg) center/cover;
}

.section2 {
  background: rgb(36, 36, 36);
  min-height: 40vh;
}

.section3 {
  min-height: 80vh;
  background: url(/assets/img/bg-menu-01.jpg) center/cover;
}

.section4 .section4-container .section4-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 770px);
          transform: translate(-50%, 770px);
  text-align: center;
}
.section4 .section4-container .section4-title h3 {
  font-family: allura, serif;
  color: rgb(181, 117, 53);
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 100;
}
.section4 .section4-container .section4-title div {
  background: url(/assets/img/ic-plate.png) center/cover;
  height: 25px;
  width: 25px;
  margin: 20px auto;
}
.section4 .section4-container .section4-title nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgb(247, 247, 247);
  font-family: roboto, sans-serif;
  text-transform: capitalize;
  gap: 80px;
  font-size: 0.8rem;
}
.section4 .section4-container .section4-title nav li {
  cursor: pointer;
  border-bottom: 1px solid rgb(247, 247, 247);
  padding: 3px 0;
}
.section4 .section4-container .section4-title nav li:hover {
  color: rgb(181, 117, 53);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid rgb(181, 117, 53);
}
.section4 .section4-container .menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 930px);
          transform: translate(-50%, 930px);
  background: rgb(247, 247, 247);
  width: 60%;
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 550px;
  border-top: 4px solid rgb(181, 117, 53);
}
.section4 .section4-container .left-part .dishes1 {
  display: grid;
  grid-template-columns: 25% 55% 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 20px 0;
  padding-bottom: 30px;
  border-bottom: 1px dashed rgba(71, 71, 71, 0.388);
}
.section4 .section4-container .left-part .dishes1 div {
  height: 70px;
  width: 70px;
  background: url(/assets/img/dish-item-01.jpg) center/cover;
  border-radius: 50px;
}
.section4 .section4-container .left-part .dishes1 p {
  font-family: roboto, sans-serif;
  line-height: 17px;
}
.section4 .section4-container .left-part .dishes1 p span:first-child {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.7rem;
  display: block;
}
.section4 .section4-container .left-part .dishes1 p span:last-child {
  text-transform: capitalize;
  font-size: 0.8rem;
  display: block;
  color: rgba(65, 64, 64, 0.86);
}
.section4 .section4-container .left-part .dishes1 p:last-child {
  color: rgb(181, 117, 53);
  font-weight: 900;
}
.section4 .section4-container .left-part .dishes2 {
  display: grid;
  grid-template-columns: 25% 55% 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 20px 0;
  padding-bottom: 30px;
  border-bottom: 1px dashed rgba(71, 71, 71, 0.388);
}
.section4 .section4-container .left-part .dishes2 div {
  height: 70px;
  width: 70px;
  background: url(/assets/img/dish-item-03.jpg) center/cover;
  border-radius: 50px;
}
.section4 .section4-container .left-part .dishes2 p {
  font-family: roboto, sans-serif;
  line-height: 17px;
}
.section4 .section4-container .left-part .dishes2 p span:first-child {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.7rem;
  display: block;
}
.section4 .section4-container .left-part .dishes2 p span:last-child {
  text-transform: capitalize;
  font-size: 0.8rem;
  display: block;
  color: rgba(65, 64, 64, 0.86);
}
.section4 .section4-container .left-part .dishes2 p:last-child {
  color: rgb(181, 117, 53);
  font-weight: 900;
}
.section4 .section4-container .left-part .dishes3 {
  display: grid;
  grid-template-columns: 25% 55% 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 20px 0;
  padding-bottom: 30px;
  border-bottom: 1px dashed rgba(71, 71, 71, 0.388);
}
.section4 .section4-container .left-part .dishes3 div {
  height: 70px;
  width: 70px;
  background: url(/assets/img/dish-item-05.jpg) center/cover;
  border-radius: 50px;
}
.section4 .section4-container .left-part .dishes3 p {
  font-family: roboto, sans-serif;
  line-height: 17px;
}
.section4 .section4-container .left-part .dishes3 p span:first-child {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.7rem;
  display: block;
}
.section4 .section4-container .left-part .dishes3 p span:last-child {
  text-transform: capitalize;
  font-size: 0.8rem;
  display: block;
  color: rgba(65, 64, 64, 0.86);
}
.section4 .section4-container .left-part .dishes3 p:last-child {
  color: rgb(181, 117, 53);
  font-weight: 900;
}
.section4 .section4-container .left-part .dishes4 {
  display: grid;
  grid-template-columns: 25% 55% 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 20px 0;
  padding-bottom: 30px;
  border-bottom: 1px dashed rgba(71, 71, 71, 0.388);
}
.section4 .section4-container .left-part .dishes4 div {
  height: 70px;
  width: 70px;
  background: url(/assets/img/dish-item-07.jpg) center/cover;
  border-radius: 50px;
}
.section4 .section4-container .left-part .dishes4 p {
  font-family: roboto, sans-serif;
  line-height: 17px;
}
.section4 .section4-container .left-part .dishes4 p span:first-child {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.7rem;
  display: block;
}
.section4 .section4-container .left-part .dishes4 p span:last-child {
  text-transform: capitalize;
  font-size: 0.8rem;
  display: block;
  color: rgba(65, 64, 64, 0.86);
}
.section4 .section4-container .left-part .dishes4 p:last-child {
  color: rgb(181, 117, 53);
  font-weight: 900;
}

.right-part .dishes1 {
  display: grid;
  grid-template-columns: 25% 55% 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 20px 0;
  padding-bottom: 30px;
  border-bottom: 1px dashed rgba(71, 71, 71, 0.388);
}
.right-part .dishes1 div {
  height: 70px;
  width: 70px;
  background: url(/assets/img/dish-item-02.jpg) center/cover;
  border-radius: 50px;
}
.right-part .dishes1 p {
  font-family: roboto, sans-serif;
  line-height: 17px;
}
.right-part .dishes1 p span:first-child {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.7rem;
  display: block;
}
.right-part .dishes1 p span:last-child {
  text-transform: capitalize;
  font-size: 0.8rem;
  display: block;
  color: rgba(65, 64, 64, 0.86);
}
.right-part .dishes1 p:last-child {
  color: rgb(181, 117, 53);
  font-weight: 900;
}
.right-part .dishes2 {
  display: grid;
  grid-template-columns: 25% 55% 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 20px 0;
  padding-bottom: 30px;
  border-bottom: 1px dashed rgba(71, 71, 71, 0.388);
}
.right-part .dishes2 div {
  height: 70px;
  width: 70px;
  background: url(/assets/img/dish-item-04.jpg) center/cover;
  border-radius: 50px;
}
.right-part .dishes2 p {
  font-family: roboto, sans-serif;
  line-height: 17px;
}
.right-part .dishes2 p span:first-child {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.7rem;
  display: block;
}
.right-part .dishes2 p span:last-child {
  text-transform: capitalize;
  font-size: 0.8rem;
  display: block;
  color: rgba(65, 64, 64, 0.86);
}
.right-part .dishes2 p:last-child {
  color: rgb(181, 117, 53);
  font-weight: 900;
}
.right-part .dishes3 {
  display: grid;
  grid-template-columns: 25% 55% 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 20px 0;
  padding-bottom: 30px;
  border-bottom: 1px dashed rgba(71, 71, 71, 0.388);
}
.right-part .dishes3 div {
  height: 70px;
  width: 70px;
  background: url(/assets/img/dish-item-06.jpg) center/cover;
  border-radius: 50px;
}
.right-part .dishes3 p {
  font-family: roboto, sans-serif;
  line-height: 17px;
}
.right-part .dishes3 p span:first-child {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.7rem;
  display: block;
}
.right-part .dishes3 p span:last-child {
  text-transform: capitalize;
  font-size: 0.8rem;
  display: block;
  color: rgba(65, 64, 64, 0.86);
}
.right-part .dishes3 p:last-child {
  color: rgb(181, 117, 53);
  font-weight: 900;
}
.right-part .dishes4 {
  display: grid;
  grid-template-columns: 25% 55% 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 20px 0;
  padding-bottom: 30px;
  border-bottom: 1px dashed rgba(71, 71, 71, 0.388);
}
.right-part .dishes4 div {
  height: 70px;
  width: 70px;
  background: url(/assets/img/dish-item-08.jpg) center/cover;
  border-radius: 50px;
}
.right-part .dishes4 p {
  font-family: roboto, sans-serif;
  line-height: 17px;
}
.right-part .dishes4 p span:first-child {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.7rem;
  display: block;
}
.right-part .dishes4 p span:last-child {
  text-transform: capitalize;
  font-size: 0.8rem;
  display: block;
  color: rgba(65, 64, 64, 0.86);
}
.right-part .dishes4 p:last-child {
  color: rgb(181, 117, 53);
  font-weight: 900;
}

.section5 {
  min-height: 100vh;
  background: rgb(29, 29, 29);
}
.section5 .reservations-container {
  display: grid;
  grid-template-columns: 30% 70%;
  min-height: 500px;
  width: 70%;
  margin: 0 auto;
  padding: 60px 0;
}
.section5 .reservations-container .left-part-container {
  background: rgb(5, 5, 5);
  padding: 20px;
}
.section5 .reservations-container .left-part-container .left-part {
  background: rgb(5, 5, 5);
  color: rgb(247, 247, 247);
  border: 1px dashed rgb(247, 247, 247);
  height: 100%;
  text-align: center;
  padding: 20px;
}
.section5 .reservations-container .left-part-container .left-part h5:first-child {
  line-height: 17px;
}
.section5 .reservations-container .left-part-container .left-part h5:first-child span:first-child {
  font-family: allura, serif;
  color: rgb(181, 117, 53);
  text-transform: capitalize;
  font-size: 1.8rem;
  display: block;
  font-weight: 100;
}
.section5 .reservations-container .left-part-container .left-part h5:first-child span:last-child {
  font-family: poppins, sans-serif;
  color: rgb(247, 247, 247);
  text-transform: uppercase;
  font-size: 1rem;
}
.section5 .reservations-container .left-part-container .left-part div {
  height: 20px;
  width: 20px;
  background: url(/assets/img/ic-plate.png) center/cover;
  margin: 20px auto;
}
.section5 .reservations-container .left-part-container .left-part .schedules {
  text-transform: uppercase;
  margin: 30px auto 15px;
  font-family: poppins, sans-serif;
  color: rgb(181, 117, 53);
}
.section5 .reservations-container .left-part-container .left-part p {
  font-family: roboto, sans-serif;
  font-size: 0.8rem;
}
.section5 .reservations-container .right-part {
  background: rgb(247, 247, 247);
  padding: 50px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section5 .reservations-container .right-part h4 {
  line-height: 23px;
}
.section5 .reservations-container .right-part h4 span:first-child {
  font-family: allura, serif;
  color: rgb(181, 117, 53);
  text-transform: capitalize;
  font-size: 2rem;
  display: block;
  font-weight: 100;
}
.section5 .reservations-container .right-part h4 span:last-child {
  font-family: poppins, sans-serif;
  color: rgb(247, 247, 247);
  text-transform: uppercase;
  font-size: 1.5em;
  color: rgb(5, 5, 5);
}
.section5 .reservations-container .right-part .logo3 {
  height: 20px;
  width: 20px;
  background: url(/assets/img/ic-plate.png) center/cover;
  margin: 20px auto;
}/*# sourceMappingURL=index.css.map */