.section5 {
  min-height: 300vh;
  background: $black2;

  .reservations-container {
    display: grid;
    grid-template-columns: 30% 70%;
    min-height: 500px;
    width: 70%;
    margin: 0 auto;
    padding: 60px 0;

    .left-part-container {
      background: $black1;
      padding: 20px;

      .left-part {
        background: $black1;
        color: $white1;
        border: 1px dashed $white1;
        height: 100%;
        text-align: center;
        padding: 20px;

        h5:first-child {
          line-height: 17px;
          span:first-child {
            @include title1;
            text-transform: capitalize;
            font-size: 1.8rem;
            display: block;
            font-weight: 100;
          }
          span:last-child {
            @include title2;
            font-size: 1rem;
          }
        }
        div {
          height: 20px;
          width: 20px;
          background: url(/assets/img/ic-plate.png) center/cover;
          margin: 20px auto;
        }
        .schedules {
          text-transform: uppercase;
          margin: 30px auto 15px;
          font-family: $font2;
          color: $brown1;
        }
        p {
          font-family: $font3;
          font-size: 0.8rem;
        }
      }
    }

    .right-part {
      background: $white1;
      padding: 50px;
      text-align: center;
      align-items: center;

      h4 {
        line-height: 23px;
        span:first-child {
          @include title1;
          text-transform: capitalize;
          font-size: 2rem;
          display: block;
          font-weight: 100;
        }
        span:last-child {
          @include title2;
          font-size: 1.5em;
          color: $black1;
        }
      }
      .logo3 {
        height: 20px;
        width: 20px;
        background: url(/assets/img/ic-plate.png) center/cover;
        margin: 20px auto;
      }
      .input1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5%;
        margin: 50px auto 30px;
        input {
          @include resa;
          padding-bottom: 10px;
          &:nth-child(2) {
            text-transform: none;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .input2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5%;
        margin-bottom: 70px;
        input {
          @include resa;
          padding-bottom: 10px;
          &:focus {
            outline: none;
          }
        }
      }
      button {
        background: $black1;
        border-radius: 30px;
        width: 150px;
        height: 40px;
        color: $white1;
        border: none;
        text-transform: uppercase;
        font-family: $font2;
        letter-spacing: 4px;
        font-size: 0.7rem;
        cursor: pointer;

        &:hover {
          animation: pulseAnim 1s ease-in-out infinite;
          background: $brown1;
          transition: 0.6s;
        }
        @keyframes pulseAnim {
          0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.13);
          }
          100% {
            transform: scale(1);
          }
        }
      }
    }
  }
  .events {
    h3 {
      text-align: center;
      line-height: 31px;
      span:first-child {
        @include title1;
        text-transform: capitalize;
        display: block;
        font-size: 2rem;
        font-weight: 100;
      }
      span:last-child {
        @include title2;
        text-transform: uppercase;
        font-size: 1.9rem;
      }
    }
    .logo4 {
      height: 30px;
      width: 30px;
      background: url(/assets/img/ic-plate.png) center/cover;
      margin: 50px auto;
    }
    .events-container {
      display: grid;
      grid-template-columns: 60% 40%;
      width: 70%;
      height: 400px;
      margin: 0 auto;

      .left-part {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-right: 20px;
        .event1 {
          display: grid;
          grid-template-columns: 40% 60%;
          margin-bottom: 20px;
          height: 100%;
          .left-part {
            background: url(/assets/img/event-01.jpg) center/cover;
            position: relative;
            .date {
              background: $black2;
              width: 80px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              h6 {
                text-align: center;
                padding: 15px;
                span:first-child {
                  color: $white1;
                  font-family: $font3;
                  font-size: 1.6rem;
                  display: block;
                }
                span:last-child {
                  color: $white1;
                  font-family: $font3;
                  font-size: 0.8rem;
                }
              }
            }
          }
          .right-part {
            font-family: $font3;
            padding: 20px;
            background: $white1;
            .right-part-container {
              h6 {
                font-size: 1rem;
                letter-spacing: 2px;
                font-weight: 100;
                &:last-child {
                  text-transform: uppercase;
                  font-size: 0.6rem;
                  font-weight: 900;
                  cursor: pointer;
                  &:hover {
                    color: $brown1;
                  }
                }
              }
              p {
                color: rgba(71, 71, 71, 0.388);
                font-size: 0.7rem;
                letter-spacing: 1px;
                margin: 20px 0;
              }
            }
          }
        }

        .event2 {
          display: grid;
          grid-template-columns: 40% 60%;
          height: 100%;
          .left-part {
            background: url(/assets/img/event-02.jpg) center/cover;
            position: relative;
            .date {
              background: $black2;
              width: 80px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              h6 {
                text-align: center;
                padding: 15px;
                span:first-child {
                  color: $white1;
                  font-family: $font3;
                  font-size: 1.6rem;
                  display: block;
                }
                span:last-child {
                  color: $white1;
                  font-family: $font3;
                  font-size: 0.8rem;
                }
              }
            }
          }
          .right-part {
            font-family: $font3;
            padding: 20px;
            background: $white1;
            h6 {
              font-size: 1rem;
              letter-spacing: 2px;
              font-weight: 100;
              &:last-child {
                text-transform: uppercase;
                font-size: 0.6rem;
                font-weight: 900;
                cursor: pointer;
                &:hover {
                  color: $brown1;
                }
              }
            }
            p {
              color: rgba(71, 71, 71, 0.388);
              font-size: 0.7rem;
              letter-spacing: 1px;
              margin: 20px 0;
            }
          }
        }
      }
      .right-part {
        .event3 {
          background: url(/assets/img/event-03.jpg) center/cover;
          width: 100%;
          height: 100%;
          position: relative;
          .event3-container {
            background: $white1;
            width: 90%;
            height: 90%;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: $font3;
            padding: 0 20px;
            background: $white1;
            .date {
              background: $black1;
              width: 65px;
              height: 65px;
              color: $white1;
              margin: 0 auto;
              .h6-date {
                text-align: center;
                padding: 6px;
                margin: 0;
                span:first-child {
                  color: $white1;
                  font-family: $font3;
                  font-size: 1.6rem;
                  display: block;
                }
                span:last-child {
                  color: $white1;
                  font-family: $font3;
                  font-size: 0.8rem;
                }
              }
            }
            h6 {
              font-size: 1rem;
              letter-spacing: 2px;
              font-weight: 100;
              margin-top: 20px;
              text-align: center;
              &:last-child {
                text-transform: uppercase;
                font-size: 0.6rem;
                font-weight: 900;
                text-align: left;
                cursor: pointer;
                &:hover {
                  color: $brown1;
                }
              }
            }
            p {
              color: rgba(71, 71, 71, 0.388);
              font-size: 0.7rem;
              letter-spacing: 1px;
              margin: 20px 0;
            }
          }
        }
      }
    }
  }
}
