.section2 {
  background: $black3;
  min-height: 40vh;

  @media screen and (max-width:1014px) {
    min-height: 120vh;
  }

}

.section3 {
  min-height: 80vh;
  background: url(/assets/img/bg-menu-01.jpg) center/cover;
}
